@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>The server part of app Heart Rate. The App was created at the request of Alexander Trukhin a children's basketball coach in Saint-Petersburg Russia, which collects and analyze heart rate his sportsmen.</p>
